---
layout: default
title: support
permalink: /support/
---

{% include header-support.html %}

<section class="row section-default">
	<div class="small-12 ">

		<iframe id="forum_embed"
			src="javascript:void(0)"
			scrolling="no"
			frameborder="0"
			width="900"
			height="700">
			style="max-width: 100%"
		</iframe>

		<script type="text/javascript">
			document.getElementById('forum_embed').src =
				'//groups.google.com/forum/embed/?place=forum/xpiks-support'
				+ '&showsearch=true&showpopout=true&showtabs=false'
				+ '&parenturl=' + encodeURIComponent(window.location.href);
		</script>
	</div>
</section>

{% include report-bug.html %}