<section class="section-default section-grey section-donate">
    <div class="row">
        <div class="small-12 large-2 columns">
            <div class="section-download-logo">
                <img src="{{site.baseurl}}/images/logo-big-section.png" alt="xpiks">
            </div>
        </div>
        <div class="small-12 large-7 columns">
            <h2 class="section-title">Help us to make Xpiks better!</h2>
            <p>Available for macOS, Windows and Linux</p>
        </div>
        <div class="small-12 large-3 columns">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E7VD6UUY2TUKL">
                <input type="image" src="{{site.baseurl}}/images/donate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</section>