<section class="section-free-downloads {{include.class}}">
  <div class="row">
    <div class="small-12 large-2 columns">
      <div class="section-download-logo">
        <img src="{{site.baseurl}}/images/logo-big-section.png" alt="xpiks">
      </div>
    </div>
    <div class="small-12 large-7 columns">
      <h2 class="section-title">Get started with Xpiks</h2>
      <p>Available for macOS, Windows and Linux</p>
    </div>
    <div class="small-12 large-3 columns">
      <a class="button" href="{{site.baseurl}}/downloads/">Free download</a>
    </div>
  </div>
</section>
