.button {
	background: $btn-bg-color;
	border-radius: 3px;
	display: inline-block;
	padding: 10px 10px;
	min-width: 150px;
	height: 40px;
	line-height: 1;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF!important;
	font-weight: bold;
	transition: 0.3s background;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
	width: 100%;
	max-width: 260px;
	height: 50px;
	padding: 15px 10px;
	&:hover {
		text-decoration: none;
		background: $btn-bg-hover-color;
	}
	&:visited {
		color: #FFFFFF;
	}
	&:active {
		background: $btn-bg-active-color;
	}
	&.button-grey {
		background: $btn-bg-grey-color;
		&:hover {
			background: $btn-bg-grey-hover-color;
		}
	}

	@media screen and (min-width: 768px) {
		width: 200px;
	}

}