.report-bug {
	position: relative;
	padding-left: 75px;
	@media screen and (min-width: 768px) {
		padding-left: 100px;
	}
	h2 {
		margin-bottom: 5px;
	}
	a {
		color: $primary-text-color;
		&:hover {
			color: $btn-bg-hover-color;
			text-decoration: none;
		}
		&:active {
			color: $btn-bg-active-color;
		}
	}
	.report-bug-icon {
		left: 0;
		top:50%;
		position: absolute;
		transform: translateY(-50%);
		max-width: 70px;
		@media screen and (min-width: 768px) {
			max-width: 80px;
		}
	}
	svg {
		max-width: 100%;
		height: auto;
	}
}