.section-default {
	font-size: 14px;
	padding: 50px 0;
	&.section-tuts {
		.pagination {
			margin: 70px 0 0 0;
		}
	}
	&.section-grey {
		background: #F8F8FB;
	}
	&.section-platforms {
		padding-bottom: 0 !important;
	}

	.small-12 {
		max-width: 900px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	h2 {
		font-size: 20px;
	}

	@media screen and (min-width: 64.063em) {
		font-size: 14px;
		padding: 70px 0;
		h2 {
			font-size: $font-size-h1-small;
		}
	}

	.button {
		margin-top: 15px;
	}


}

.section-contact-support {
	text-align: center;
}